venv/
env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/
.git/
.gitignore
.DS_Store
Thumbs.db
*.log
*.swp
*.tmp
build/
dist/
*.egg-info/
*.tar.gz
*.zip
node_modules/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.dockerignore
Dockerfile
Dockerfile_MacM1
images/
.github
data/
